button {
  background: none;
  border: 1px solid black;
  padding: 7px 15px;
  position: absolute;
  top: 200px;
  left: 30%;
}

button:before {
  content: attr(data-hover);
  visibility: hidden;
  background: white;
  border: 1px solid black;
  padding: 4px 7px;
  position: absolute;
  margin: 23px 0px 10px 30px;
}

button:hover:before {
  visibility: visible;
}

button:hover {
  text-decoration: underline;
}

#campfire {
  position: absolute;
  top: 50px;
  left: 50%;
}