body {
  background: black;
}

button {
  background: none;
  color: white;
  border: 1px solid white;
  width: 130px;
  height: 30px;
  position: absolute;
  top: 200px;
  right: 60%;
}

button::before {
  content: attr(datahover);
  visibility: hidden;
  display: flex;
  width: 128px;
  height: 25px;
  border: 1px solid white;
  position: absolute;
  z-index: -1;
  top: 28px;
  right: -1px;
  align-items: center;
  justify-content: center;
}

button:hover::before {
  visibility: visible;
}

button:hover {
  text-decoration: underline;
}

#actions {
  position: absolute;
  left: 15%;
  width: 250px;
  height: 670px;
}

#stones {
  position: absolute;
  top: 50px;
  right: 60%;
}

#campfire {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 60%;
}
