body {
  background: black;
}

#light-btn {
  background: none;
  position: absolute;
  color: white;
  border: 1px solid white;
  width: 130px;
  height: 30px;
  top: 270px;
  right: 55%;
}

#light-btn:hover {
  text-decoration: underline;
}

#stones {
  position: absolute;
  top: 100px;
  right: 55%;
}

#campfire {
  visibility: hidden;
  position: absolute;
  top: 100px;
  right: 55%;
}

#action-log {
  position: absolute;
  border: 1px solid black;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 250px;
}

@keyframes add {
  from {top: 90%;}
  to {top: 0%;}
}

.action-add {
  animation-name: add;
  animation-duration: 1s;
}